<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>Club Fuoco</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>telephony</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Club Fuoco uses your location to show clubs near you tonight.</string>
	<key>NSCameraUsageDescription</key>
	<string>Club Fuoco uses the camera so you can take a profile photo and scan payment cards when booking.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Club Fuoco uses your photo library so you can choose a profile photo.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Club Fuoco saves images, such as tickets and passes, to your photo library.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.clubfuoco.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.clubfuoco.app</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.170229454537-b4a62382bcnq7ugfckklvv75koih8heo</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
